@import "tailwindcss.css";

:root {
  --color-wh: #ffffff;
  --color-bl: #000000;
  --color-dark: #212121;
  --color-darkLt: #222222;
  --color-darkDp: #181818;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* common */
.container-lg {
  max-width: 1400px;
  @apply m-auto;
}
.container {
  max-width: 1000px;
  @apply m-auto;
}

/* btn */
.btn {
  @apply transition
      ease-in-out duration-700
      text-wh bg-gray-900
      font-bold
      inline-flex 
      items-center 
      justify-center 
      px-5 py-3
      text-base font-medium 
      rounded-md;
}
.btn-df {
  @apply bg-gradient-to-r from-lt via-cen to-rt;
}

.btn-bk {
  @apply bg-dark
      hover:shadow-xl;
}

.btn-line {
  @apply bg-trans border-wh 
      shadow border
      hover:shadow-inner border-2;
}
